.card {
  width: 90%;
  max-width: 400px;
  height: 170px;
  background-color: rgb(20, 26, 31);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow:
    2px 2px 10px black,
    2px 2px 20px black;
  border-radius: 10px;
  transition: all 0.2s;
  cursor: pointer;
  color: rgb(80, 167, 207);
  flex-shrink: 0;
  padding: 10px;
}

.card:hover {
  box-shadow:
    2px 2px 10px rgb(89, 172, 228),
    2px 2px 20px rgb(87, 175, 226);
}

.hover-card img {
  width: 95%;
  filter: drop-shadow(2px 2px 10px black);
}

.hover-card {
  width: 100%;
  height: 100%;
  background-color: linear-gradient(
    to top,
    rgb(75, 178, 218, 0.486),
    rgb(20, 26, 31, 0.489)
  );
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(7px);
}

.card:hover .hover-card {
  transform: translateY(0%);
}
